h1,h2,h3 {
    text-align:center;
    color:#000;
    font-family: 'Quicksand', sans-serif;
}

.top{
    background-color: #ebd5d5;
}
.bottom{ 
    background-color: #ea8a8a;

}
.footer{ 
    background-color: #685454;  
    color: #ebd5d5;
    text-align: center;
}
/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    
}